*{
    padding: 0px;
    font-family: Centruy 'Franklin Gothic Medium';
}
 header {
    background-image: url(../1.jpg)
    background-size: cover;
    background-position: center;
 }



 